.about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 75vh;
    padding: 0 8rem;
    padding-top: 10rem;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 85%;
        background: #00000028;
        border-radius: 15px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        text-align: justify;
        width: 88%;
        height: 100px;
        flex: 4;

        & h2 {
            font-size: 2rem;
            text-transform: uppercase;
            padding-bottom: 35px;
        }

        & p {
            font-size: 1.2rem;
            width: 95%;
        }
    }

    &__image {
        flex: 1;
    }

}