.skills {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: -25vw;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 5% 5% 5% 25vw;
    margin-top: 15%;
    background-color: #ecf1ee;
    border: 1px solid #130a06;
    border-radius: 15px;
    gap: 5vh;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    color: #000;

    

    &__header {
        display: flex;
        align-items: flex-start;
        width: 100%;
        height: 75px;

        & h3 {
            font-size: 2rem;
            text-transform: uppercase;
        }
    }

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;

    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: calc(50% - 22px);
        height: 250px;
        background: #fff;
        border-radius: 15px;
        padding: 2%;

        &:hover {
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        }

        & summary {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 15px;
            align-items: center;
        }

        & details {
            display: flex;
            flex-direction: column;

        }


    }

    details>summary {
        list-style: none;
    }

    details>summary::-webkit-details-marker {
        display: none;
    }
}


@media (max-width: 600px) {
    .skills__item {
        flex-basis: 100%;
    }
}